<h1 class="text-3xl font-bold mb-6 text-gray-800">Liste des utilisateurs</h1>

<div class="overflow-x-auto shadow-lg rounded-lg">
  <table class="w-full text-left bg-white rounded-lg overflow-hidden">
    <thead>
      <tr class="bg-gray-800 text-white">
        <th class="py-3 px-6 font-semibold">Email</th>
        <th class="py-3 px-6 font-semibold">Rôle</th>
        <th class="py-3 px-6 font-semibold">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-4 px-6 text-gray-700"><%= user.email %></td>
          <td class="py-4 px-6 text-gray-700"><%= user.role_admin %></td>
          <td class="py-4 px-6">
            <%= link_to "Modifier le rôle", edit_admin_user_path(user), class: "text-indigo-600 hover:text-indigo-800 font-semibold" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
